:root {
  --bgc-comment: #e0e7ff;
  --txt-color: #4338ca;
}

.fullcomment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bgc-comment);
  width: 600px;
  height: 300px;
  color: var(--txt-color);
  border-radius: 5px;
  margin: 20px 0;
}

.fullcomment>button{
  background-color:#fff;
  color: red;
  border-color: red;
  border-radius: 5px;
  padding: 5px 10px;
  }